body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.botonInicio{
    padding: 20px;
}
.card1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Your card styles go here */
  }
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ff0000;
}