{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2></h2>
        </div>
        <div class="col">
            <h2>¡Bienvenido!</h2>
            <img src="https://www.neuquencentromedico.com.ar/templates/sparky_framework/images/galenos.png" alt="omg">
            <img src='media/download.png' alt="">
        </div>
        <div class="col">
            <h2></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Maqueta de página parcialmente funcional</h5>
        </div>
    </div>
</div>
{% endblock %}