{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h2>Crear cuenta de Usuario</h2>
    <div class="col">
    <div class="card">
        <div class="card-body">
            <form action="/crearUsuario/" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <h5>Rut usuario</h5>
                    <input type="text" id="Rut" name="Rut" class="form-control" placeholder="Rut usuario" required>
                    <br>
                    <h5>Nombre usuario</h5>
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre usuario" required>
                    <br>
                    <h5>Apellido usuario</h5>
                    <input type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellido usuario" required>
                    <br>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" href="{% url 'agendarhora' %}" class="btn btn-success btn-block text-white">Guardar usuario</button>
                </div>
            </form>
        </div>
    </div>
    </div>
  </div>
</div>
<br>
{% endblock %}