{% extends 'base.html' %} 
{% load static %} 
{% block content %}
  <div class="container">
    <h2>Ventana de administración secretaría</h2>
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-success btn-block text-white"> Gestión de usuarios </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-info btn-block text-dark"> Gestión horas médicas </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-info btn-block text-dark"> Gestión calendarios médicos </button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-secondary btn-block text-dark"> Gestión comisiones médicas </button>
      </div>
    </div>
    <br>
  </div>
  <br>
    
  
  

{% endblock %}
